.container-fluid{
    
    border-radius: 5px;;
    
}
.navbar-header{
    width: 50%;
    font-size: medium;
}
nav div div a{
    color: white;
}
.btn-secondary{
    border: yellowgreen;
}
.jumbotron.text-center h1{
font-size:40px;
font-weight: bold;
}
.jumbotron.text-center button{
   border: greenyellow;
    }

.info{
    width: 80%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .img-thumbnail{
      height: 200px;
      width: 170px;
  }

  .container-fluid {
    overflow: hidden;
   
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}
.jumbotron{
background-image: url('p.jpg');
background-size:cover;
color:white;
 height: 100%; 
 
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

}
.jumbotron h2{
    color: white;
    font-weight: bold;
    border-radius: 2px;;
}